:root {
  --gray: #373f46;
  --darkgray: #1d2733;
  --primary: #32aced;
  --success: #4fc08d;
  --success-hover: #3da978;
}

* {
  color: white;
}

.custom-bg-dark {
  background-color: var(--gray) !important;
}

nav.navbar {
  height: 6rem;
}

a.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 3px;
}

li.nav-item a {
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  div#navbarCollapse {
    width: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    background-color: var(--gray) !important;
  }
}

div#app-container {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 96px;
  width: 100%;
  padding: 2rem;
  background-color: var(--darkgray);
  overflow: auto;
}

footer#custom-footer {
  width: 100%;
  height: 6rem;
  background-color: var(--gray) !important;
  font-style: 1rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#custom-home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--primary) !important;
}

.btn-success {
  background-color: var(--success) !important;
  color: white !important;
}

.btn-success:hover {
  background-color: var(--success-hover) !important;
}
